<!doctype html>
<html ng-app="bartendr">
  <head>
    <meta charset="utf-8">
    <title>bartendr</title>
    <link rel="stylesheet" href="styles.css">

    <!-- dependencies -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="bartendr.js"></script>
  </head>
  <body>

    <h1>bartendr</h1>
    
    <div id="ingredientsPane" ng-controller="IngredientController">

      <h4>Ingredients in stock:</h4>
      
      <div id="stock">
        <li ng-repeat="ingredient in ingredients | filter:{'in_stock':1}">{{ ingredient.name }}</li>
      </div>
      
      <h4>Update your inventory (add or remove):</h4>
      <select class="allIngredients" ng-model="toggle">
        <option ng-repeat="ingredient in ingredients">{{ ingredient.name }}</option>
      </select>
      <button ng-click="toggleIngredient()"/>Toggle</button>
      <button onclick="app.newIngredient()">Add a new ingredient type</button>
    </div>


    <div id="drinksPane" ng-controller="DrinkController">
      <h4>Drinks you can make:</h4>
      <div id="drinks">
        <li ng-repeat="drink in drinks">{{ drink.name }}</li>
      </div>

      <div id="recipePane">
        <h4>Add a new drink recipe:</h4>

        <h6>Name your drink</h6>
        <input id="drinkName" type="text" maxlength="100"/>

        <h6>Add ingredients</h6>
        <select id="recipe" class="allIngredients" multiple>
          <option ng-repeat="ingredient in ingredients">{{ ingredient.name }}</option>
        </select>
        
        <textarea id="instructions">Recipe instructions here</textarea><br/>
        <button id="submitRecipe" onclick="app.newRecipe()">Submit</button>
      </div>
    </div> 


  </body>
</html>
