<!doctype html>
<html ng-app="bartendr">
  <head>
    <meta charset="utf-8">
    <title>bartendr</title>
    <link rel="stylesheet" href="styles.css">

    <!-- dependencies -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="bartendr.js"></script>
  </head>
  <body>

    <h1>bartendr</h1>
    
    <div id="ingredientsPane" ng-controller="IngredientController">

      <h4>Ingredients in stock:</h4>
      
      <div id="stock">
        <li ng-repeat="ingredient in ingredients | filter:{'in_stock':1}">{{ ingredient.name }}</li>
      </div>
      
      
      <h4>Update your inventory (add or remove):</h4>
      <select class="allIngredients" ng-model="toggle">
        <option ng-repeat="ingredient in ingredients">{{ ingredient.name }}</option>
      </select>
      <button ng-click="toggleIngredient()"/>Toggle</button>
      <button ng-click="newIngredient()">Add a new ingredient type</button>

      <table ng-controller="NextIngredientController">
        <thead>
          <tr>
            <td>Ingredient</td><td># of drinks unlocked</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ingredient in nextIngredient">
            <td>{{ ingredient.name }}</td><td>{{ ingredient.additional_drinks }}</td>
          </tr>
        </tbody>
      </table>
      

    </div>


    <div id="drinksPane" ng-controller="DrinkController">
      <h4>Drinks you can make:</h4>
      <div id="drinks">
        <li ng-repeat="drink in drinks" ng-click="toggleInstructions(drink)">{{ drink.name }}</li>
      </div>
      <h6>Click on a drink above to display instructions below</h6>
      {{ instructionsDisplay }}

      <div id="recipePane" ng-controller="RecipeController">
        <h4>Add a new drink recipe:</h4>

        <h6>Name your drink</h6>
        <input id="drinkName" type="text" maxlength="100" ng-model="drinkName"/>

        <h6>Add ingredients</h6>
        <select id="recipe" class="allIngredients" multiple ng-model="recipeIngredients">
          <option ng-repeat="ingredient in ingredients">{{ ingredient.name }}</option>
        </select>
        
        <textarea id="instructions" ng-model="instructions">Recipe instructions here</textarea><br/>
        <button id="submitRecipe" ng-click="newRecipe()">Submit</button>
      </div>
    </div> 


  </body>
</html>
