body {
  width:80%;
  margin:auto;
}

h1 {
  
}

select {
  display:block;
}

#ingredientsPane {
  float:left;
  width:30%;
}

#drinksPane {
  float:right;
  width:40%;
}

#instructions {
  width: 300px;
  height: 150px;
}