body {
  width:75%;
  margin:auto;
}

h1 {
  
}

button {
  display:block;
}

select {
  display:block;
}

.instructions {
  display:none;
  list-style-type: none;
}

.drink:hover{
  cursor:pointer;
}

#ingredientsPane {
  float:left;
  width:45%;
}

#drinksPane {
  float:right;
  width:55%;
}

#instructions, #recipe {
  width: 300px;
  height: 150px;
}